<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTest.TestAdapter" version="1.3.2" targetFramework="net471" />
  <package id="MSTest.TestFramework" version="1.3.2" targetFramework="net471" />
  <package id="X4D.Diagnostics" version="0.1.0.9" targetFramework="net461" />
  <package id="X4D.Diagnostics.Counters" version="0.1.0.9" targetFramework="net461" />
</packages>